In [52]:
from nltk.chunk import RegexpParser
import pandas as pd
import nltk
import re

In [46]:
# path list
wordlist_path1 = '../../data/wordlist/asset_classes.txt'
wordlist_path2 = '../../data/wordlist/economic_indicators.txt'
news_data_path = '../../data/annotated/nlp_id_result.csv'

In [44]:
with open(wordlist_path1, 'r') as file:
    asset_classes = file.read().splitlines()

with open(wordlist_path2, 'r') as file:
    economic_indicator = file.read().splitlines()

In [45]:
grammar = r"""
  PERSON: <VB.*>{<NNP>}
          <NNP>{3}{<NNP>{1,2}}
          {<NNP>{1,2}}<VB>
          <IN>{<NNP>{1,2}}
  LOCATION: <IN>{<NNP>+}
  ORGANIZATION: {<NNP>+<CC>{0,1}<NNP>{1,2}}
                {<NNP>{3}}<NNP>{1,2}
  CURRENCY: {<SYM><NUM>+}
            {<SYM><NUM><NNP>}
  EVENT: {<NNP>+<NUM>}
  PERCENTAGE: {<NUM><SYM>}
  DATE: <IN>{<NUM>{0,1}<NNP>{0,1}<NUM>{4}}
"""

In [49]:
news_data = pd.read_csv(news_data_path)
news_data

,Unnamed: 0,sentence,pos_tag
0,0,Tantangan Ketimpangan Ekonomi,"[('Tantangan', np.str_('NN')), ('Ketimpangan',..."
1,1,Doktor ekonomi dari UNU-MERIT/Maastricht Unive...,"[('Doktor', np.str_('NN')), ('ekonomi', np.str..."
2,2,Alumni generasi pertama beasiswa LPDP master-d...,"[('Alumni', np.str_('NNP')), ('generasi', np.s..."
3,3,Pernah bekerja di ASEAN Secretariat Indonesia ...,"[('Pernah', np.str_('ADV')), ('bekerja', np.st..."
4,4,Saat ini berkiprah sebagai akademisi peneliti ...,"[('Saat', np.str_('SC')), ('ini', np.str_('DT'..."
...,...,...,...
2800,2800,Koordinasi dilakukan oleh salah satu keluarga.,"[('Koordinasi', np.str_('NN')), ('dilakukan', ..."
2801,2801,Singapura Dubai Hong Kong sudah mempratikkan k...,"[('Singapura', np.str_('NNP')), ('Dubai', np.s..."
2802,2802,Untuk mendirikan satu Family Office biaya yang...,"[('Untuk', np.str_('SC')), ('mendirikan', np.s..."
2803,2803,Ini berarti bahwa untuk keluarga dengan aset ...,"[('Ini', np.str_('PR')), ('berarti', np.str_('..."
2804,2804,Sejak Juli 2024 Pemerintah RI sudah membentuk ...,"[('Sejak', np.str_('SC')), ('Juli', np.str_('N..."

In [75]:
pattern = r'\'(\S+)\''
sample = news_data['pos_tag'].iloc[1]
result = re.findall(pattern, sample)
print(sample)
print(result)

[('Doktor', np.str_('NN')), ('ekonomi', np.str_('NN')), ('dari', np.str_('IN')), ('UNU-MERIT', np.str_('NNP')), ('/', 'SYM'), ('Maastricht', np.str_('NNP')), ('University', np.str_('NNP')), ('Belanda', np.str_('NNP')), ('.', 'SYM')]
['Doktor', 'NN', 'ekonomi', 'NN', 'dari', 'IN', 'UNU-MERIT', 'NNP', '/', 'SYM', 'Maastricht', 'NNP', 'University', 'NNP', 'Belanda', 'NNP', '.', 'SYM']

In [31]:
# Kalimat POS tagging
sentence = [
    ('Jakarta', 'NNP'), ('tidak', 'RB'), ('hanya', 'RB'), ('menjadi', 'VB'),
    ('kota', 'NN'), ('global', 'JJ'), ('tetapi', 'CC'), ('juga', 'RB'),
    ('kota', 'NN'), ('yang', 'IN'), ('adil', 'JJ'), ('bagi', 'IN'),
    ('semuanya', 'NN'), ('ujar', 'VB'), ('Ridwan', 'NNP'), ('Kamil', 'NNP'),
    ('dalam', 'IN'), ('debat', 'NN'), ('Pilkada', 'NNP'), ('ketiga', 'JJ'),
    ('di', 'IN'), ('Hotel', 'NNP'), ('Sultan', 'NNP'), ('Jakarta', 'NNP'),
    ('Pusat', 'NNP'), ('Minggu', 'NNP'), ('17/11/2024', 'NUM'), ('.', '.')
]

# Parser
parser = RegexpParser(grammar)
tree = parser.parse(sentence)

# Menampilkan hasil chunking
tree.pretty_print()
def bio_tagging(tree):
    bio_tags = []
    for subtree in tree:
        if isinstance(subtree, nltk.Tree):
            label = subtree.label()
            for i, (word, tag) in enumerate(subtree.leaves()):
                prefix = "B-" if i == 0 else "I-"
                bio_tags.append((word, f"{prefix}{label}"))
        else:
            bio_tags.append((subtree[0], "O"))
    return bio_tags

# Contoh hasil
bio_tags = bio_tagging(tree)
print(bio_tags)

                                                                                                                            S
      ______________________________________________________________________________________________________________________|_____________________________________________________________________________________________________________________________
     |         |        |         |         |        |         |        |       |       |       |       |         |         |        |        |         |       |         |         |    PERSON            LOCATION                                    LOCATION
     |         |        |         |         |        |         |        |       |       |       |       |         |         |        |        |         |       |         |         |      |          ________|__________            _____________________|____________________
Jakarta/NNP tidak/RB hanya/RB menjadi/VB kota/NN global/JJ tetapi/CC juga/RB kota/NN yang/IN adil/JJ bagi/IN semuanya/NN ujar/VB Kamil/NNP dalam/IN ketiga/JJ di/IN 17/11/2024/NUM ./. Ridwan/NNP debat/NN          Pilkada/NNP Hotel/NNP Sultan/NNP Jakarta/NNP Pusat/NNP Minggu/NNP

[('Jakarta', 'O'), ('tidak', 'O'), ('hanya', 'O'), ('menjadi', 'O'), ('kota', 'O'), ('global', 'O'), ('tetapi', 'O'), ('juga', 'O'), ('kota', 'O'), ('yang', 'O'), ('adil', 'O'), ('bagi', 'O'), ('semuanya', 'O'), ('ujar', 'O'), ('Ridwan', 'B-PERSON'), ('Kamil', 'O'), ('dalam', 'O'), ('debat', 'B-LOCATION'), ('Pilkada', 'I-LOCATION'), ('ketiga', 'O'), ('di', 'O'), ('Hotel', 'B-LOCATION'), ('Sultan', 'I-LOCATION'), ('Jakarta', 'I-LOCATION'), ('Pusat', 'I-LOCATION'), ('Minggu', 'I-LOCATION'), ('17/11/2024', 'O'), ('.', 'O')]

In [32]:
import nltk
from nltk.chunk import RegexpParser

sentence = [
    ('Menteri', 'NNP'), ('Pemberdayaan', 'NNP'), ('Perempuan', 'NNP'), 
    ('dan', 'CC'), ('Perlindungan', 'NNP'), ('Anak', 'NNP'), 
    ('PPPA', 'NNP'), ('Arifah', 'NNP'), ('Fauzi', 'NNP')
]

# Parser
parser = RegexpParser(grammar)
tree = parser.parse(sentence)

# Menampilkan hasil chunking
tree.pretty_print()
def bio_tagging(tree):
    bio_tags = []
    for subtree in tree:
        if isinstance(subtree, nltk.Tree):
            label = subtree.label()
            for i, (word, tag) in enumerate(subtree.leaves()):
                prefix = "B-" if i == 0 else "I-"
                bio_tags.append((word, f"{prefix}{label}"))
        else:
            bio_tags.append((subtree[0], "O"))
    return bio_tags

# Contoh hasil
bio_tags = bio_tagging(tree)
print(bio_tags)

                                                         S
                                    _____________________|________________________________
                              ORGANIZATION                                           ORGANIZATION
      _____________________________|__________________________________          __________|___________
Menteri/NNP Pemberdayaan/NNP Perempuan/NNP dan/CC Perlindungan/NNP Anak/NNP PPPA/NNP  Arifah/NNP  Fauzi/NNP

[('Menteri', 'B-ORGANIZATION'), ('Pemberdayaan', 'I-ORGANIZATION'), ('Perempuan', 'I-ORGANIZATION'), ('dan', 'I-ORGANIZATION'), ('Perlindungan', 'I-ORGANIZATION'), ('Anak', 'I-ORGANIZATION'), ('PPPA', 'B-ORGANIZATION'), ('Arifah', 'I-ORGANIZATION'), ('Fauzi', 'I-ORGANIZATION')]